<h1>Proyectazo de angular, {{ city }}</h1>
<app-user />

<!-- <router-outlet><router-outlet />-->
<div class="container">
    <h1>Ejemplo de Texto Largo en HTML</h1>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin auctor neque
        sed diam tristique, sit amet fermentum lectus dictum. Fusce in bibendum
        nisi. Ut euismod ultrices libero ut cursus. Integer nec tortor arcu. Aliquam
        aliquet diam vel tortor sodales, vel vulputate justo convallis. Curabitur
        nec est et leo bibendum cursus. Sed eleifend feugiat nulla, et dictum dui
        feugiat nec. Suspendisse potenti. Vivamus nec leo vel arcu rhoncus
        ullamcorper. Pellentesque habitant morbi tristique senectus et netus et
        malesuada fames ac turpis egestas. Integer tempus tortor eu justo congue, at
        tristique urna ullamcorper.
    </p>

    <p>
        Sed ullamcorper quam id arcu ultricies, id aliquam felis ullamcorper. Duis
        congue dapibus ultricies. Integer non nibh vitae nisi condimentum rhoncus.
        Quisque hendrerit, elit sit amet sodales tristique, massa nulla fermentum
        ex, vitae consequat orci leo a nunc. Aenean vulputate arcu et tincidunt
        feugiat. Quisque suscipit nisl eu leo dignissim auctor. Nullam commodo
        gravida ligula, sit amet luctus lectus tincidunt at. Aliquam erat volutpat.
        Vestibulum efficitur elit nec arcu gravida fermentum. Morbi bibendum felis
        eu ultricies aliquet.
    </p>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin auctor neque
        sed diam tristique, sit amet fermentum lectus dictum. Fusce in bibendum
        nisi. Ut euismod ultrices libero ut cursus. Integer nec tortor arcu. Aliquam
        aliquet diam vel tortor sodales, vel vulputate justo convallis. Curabitur
        nec est et leo bibendum cursus. Sed eleifend feugiat nulla, et dictum dui
        feugiat nec. Suspendisse potenti. Vivamus nec leo vel arcu rhoncus
        ullamcorper. Pellentesque habitant morbi tristique senectus et netus et
        malesuada fames ac turpis egestas. Integer tempus tortor eu justo congue, at
        tristique urna ullamcorper.
    </p>

    <p>
        Sed ullamcorper quam id arcu ultricies, id aliquam felis ullamcorper. Duis
        congue dapibus ultricies. Integer non nibh vitae nisi condimentum rhoncus.
        Quisque hendrerit, elit sit amet sodales tristique, massa nulla fermentum
        ex, vitae consequat orci leo a nunc. Aenean vulputate arcu et tincidunt
        feugiat. Quisque suscipit nisl eu leo dignissim auctor. Nullam commodo
        gravida ligula, sit amet luctus lectus tincidunt at. Aliquam erat volutpat.
        Vestibulum efficitur elit nec arcu gravida fermentum. Morbi bibendum felis
        eu ultricies aliquet.
    </p>

    <!-- Puedes seguir añadiendo más párrafos según tus necesidades -->
    @defer{
    <app-comments></app-comments>
    } @placeholder {
    <p>Futuros comentarios</p>
    }
</div>