h1 {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    color: rgb(67, 167, 238);
}

div{
    max-width: 500px;
    font-size: 20px;
    margin: 0 auto;
}